//FONT
$font-display: 'Montserrat', sans-serif;


//COLORS
$color-white: #ffffff;
$color-black: #000000;

$color-green: #66ac6e;

$color-grey-dark: #484848;
$color-grey-light: #838384;
$color-arrow-icon: #c4c4c3;
$color-grey-background: #f7f6f6;
$color-grey-border: #939393;


$color-blue: #282f5d;

$footer-background: #353535;