.about {
    grid-column: full-start / full-end;
    background-color: $color-blue;


   

    &__text {
        padding: 5rem 0 20rem 0;

        @media only screen and (max-width: $bp-largest) {
            padding-bottom: 5rem;
        }

        &--details {
            width: 60%;
            margin: 0 auto;
            text-align: center;
            color: $color-white;
            font-size: 2rem;

            @media only screen and (max-width: $bp-large) {
                width: 90%;
            }
        }
    }

}

