.blog {
    grid-column: full-start / full-end;
    background-color: $color-blue;
    width: 100%;
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: [main-start] minmax(2rem,1fr) [blog-start]
    repeat(3, [col-start] minmax(min-content, 35rem) [col-end]) [blog-end] minmax(2rem,1fr) [main-end];
    padding: 5rem 0 5rem 0;

    @media only screen and (max-width: $bp-small) {
        padding: 5rem 0 0 0;
    }

   

    &__heading {
        color: $color-white;
        padding: 2rem 0;
        grid-column: blog-start / blog-end;
    }

    &__items {
        grid-column: blog-start / blog-end;
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
        }
    }

    &__item {
        flex: 1;

        @media only screen and (max-width: $bp-small) {
            padding-bottom: 5rem;
        }

        
        &:not(:last-child) {
            padding-right: 5rem;

            @media only screen and (max-width: $bp-small) {
                padding-right: 0;
            }
        }

        &--image {
            width: 100%;
            height: 50%;
            object-fit: cover;

            @media only screen and (max-width: $bp-small) {
                height: inherit;
            }

            
        }

        &--link {
            width: 100%;
            font-family: inherit;
            font-size: 2rem;
            font-weight: 600;
            text-decoration: none;
            color: $color-white;

        }

        &--date {
            font-size: 1.2rem;
            text-transform: uppercase;
            color: $color-white;
            padding-top: 1rem;
        }
        
    }


    
}

