.navigation {
    grid-column: center-start / center-end;

    @media only screen and (max-width: $bp-largest) {
        grid-column: full-start / full-end;
    }


    &__form {
        display: flex;
        justify-content: flex-end;
        margin-top: 2rem;

        @media only screen and (max-width: $bp-medium) {
            margin-bottom: 2rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            margin-bottom: 0;
        }

        @media only screen and (max-width: $bp-smallest) {
            display: block;
            width: 100%;
        }
    }


    &__nav {
        display: flex;
        align-items: center;
    }
}

.nav {

    @media only screen and (max-width: $bp-medium) {
        display: none;
    }
    

    &__logo  {
        width: 20rem;
        margin-right: 5rem;
    }

    &__items {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        padding: 0 1rem;

        &:last-child {
            padding-right: 0;
        }
      
    }

    &__links {
        font-family: inherit;
        font-size: 1.6rem;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-blue;
    }
}

