//RESPONSIVE BREAKPOINTS
$bp-largest: 68.75em;  //1100px
$bp-large: 62.5em;   //1000px
$bp-medium: 56.25em; //900px
$bp-small: 50em;    //800px
$bp-smaller: 43.75em;    //700px
$bp-smallest: 37.5em;   //600px
$bp-extra-small: 25em;   //600px


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px / 16px = 62.5%

    @media only screen and (max-width: $bp-smallest) {
        font-size: 50%;
    }
}

body {
    font-family: $font-display;
    font-size: 1.6rem;
    font-weight: 400;
    color: $color-grey-dark;
    line-height: 1.6;
    background-color: $color-grey-background;
}

//MAIN CONTAINER
.container {
    width: 100%;
    max-width: 144rem;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: [full-start] minmax(2rem,1fr) [center-start]
    repeat(3, [col-start] minmax(min-content, 35rem) [col-end]) [center-end] minmax(2rem,1fr) [full-end];

    @media only screen and (max-width: $bp-largest) {
        padding: 0 2rem;
        grid-template-rows: repeat(6, min-content);   
    }

    @media only screen and (max-width: $bp-smallest) {
        padding: 0 1rem;
    }


    
}

img {
    width: 100%;
}